@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: Raleway;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  min-height: 100%;
  margin: 0;
}

.max-width {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.restricted-width {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  /* margin-bottom: 35px; */
}

.header-search-button {
  font-family: inherit;
  color: inherit;
  background-color: #ffe17f;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
}

.header-top-button {
  text-decoration: none;
  color: inherit;
  padding: 2px 2px;
  display: flex;
}

.cart-link {
  text-decoration: none;
  color: inherit;
}

.cart-product-title {
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  font-weight: 400;
  margin: 0;
}

.header-catalog-button {
  color: inherit;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 293px;
  background-color: #ffe17f;
  border: none;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding: 0;
}

.cart-popover {
  background-color: #000000;
  width: 320px;
  margin-left: auto;
}

.cart-value-name {
  padding-left: 20px;
}

.cart-amount {
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart-link {
  display: flex;
}

.cart-open-link {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14.5px 23px;
}

.header-popup-link {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  background-color: #ffe17f;
  text-decoration: none;
}

.navigation-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  background-color: #ffffff;
  letter-spacing: 0.2em;
  padding: 4px 2px;
  background-color: #ffe17f;
}

.slider-number {
  color: #ffffff;
  background-color: #ffe17f;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
}

.slider-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.slider-card-text {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.link-button {
  color: inherit;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  width: 259px;
}

.link-button-slider {
  margin-bottom: 50px;
  display: inline-block;
}

.slider-value-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

.slider-value-name {
  font-size: 16px;
  color: #444444;
}

.product-categories-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}

.link-button.services-button-current {
  color: #ffe17f;
  background-color: #000000;
  text-align: left;
  padding: 9px 130px 11px 18px;
}

.services-button-item {
  margin-bottom: 35px;
}

.services-button-item:last-child {
  margin-bottom: 0px;
}

.services-button {
  background-color: #f0f0f0;
  border: 0;
  width: 160px;
}

.service-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  padding-top: 72px;
}

.special-delivery-button {
  font-family: Raleway, sans-serif;
  color: inherit;
  background-color: #f0f0f0;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 40px;
}

.special-delivery-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0;
}

.special-delivery-lebel {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.special-delivery-input {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 360px;
  background-color: #f0f0f0;
}

.special-deliery-hint {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.special-deliery-hint-red {
  font-size: 14px;
  line-height: 20px;
  color: #ff3d3d;
}

.amount-of-product {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 60px;
  background-color: #f0f0f0;
}

.link-button {
  background-color: #ffffff;
  border: 0;
}

.contacts-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding-top: 47px;
  margin-bottom: 48px;
}

.contats-schedule {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-subtitle {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.social-link {
  text-decoration: none;
  color: #ffffff;
}

.footer-internal-link {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-address-text {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #444444;
  width: 239px;
  margin-bottom: 64px;
}

.description-text {
  color: #444444;
  background-color: #ffffff;
  margin: 0;
}

.description-services {
  padding-bottom: 72px;
}

.description-text-contacts {
  margin-bottom: 30px;
}

.footer-contacts-phone {
  color: #ffffff;
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
  margin-top: 140px;
}

.contacts-phone {
  color: #444444;
}

.page-footer {
  background-color: #444444;
}

.htmlacademy-link {
  display: block;
  margin-top: 63px;
  margin-bottom: 65px;
}

.breadcrumbs-link {
  color: inherit;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.inner-header-subtitle,
.sorting-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: inherit;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.catalog-filter {
  font-size: 16px;
  line-height: 20px;
}

.catalog-subtitle {
  color: inherit;
  background-color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #f0f0f0;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-subtitle-sorting {
  padding-top: 25px;
  padding-left: 40px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-transform: none;
}

.select-control {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #f0f0f0;
}

.product-card-title {
  color: black;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-link {
  text-decoration: none;
}

.price {
  color: #444444;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-cards-area-button.wide-button {
  font-family: Raleway, sans-serif;
  color: inherit;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.2em;
  padding: 18px 292px;
}

.wide-button-wrapper {
  width: 760px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 44px;
}

.product-page-button.side-button-inactive {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #444444;
  background-color: #ebebeb;
  text-decoration: none;
  opacity: 0.3;
  padding: 25px;
}

.pagination-button {
  font-family: Rubik, sans-serif;
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-button-link,
.pagination-button {
  padding: 10px 15px;
}

.side-button {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  opacity: 1;
  padding: 25px;
  background-color: #ebebeb;
}

.pagination-button-current {
  font-family: Rubik, sans-serif;
  background-color: #ebebeb;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  opacity: 0.6;
}

/*блоки и сетки*/

* {
  box-sizing: border-box;
}

.slider-pagination {
  margin: 0;
  padding: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-button-prev,
.slider-button-next {
  margin: 0;
  padding: 0;
}

.header-row-wrapper {
  /* margin: 0 auto; */
  /* width: 1040px; */
  width: 100%;
  padding: 46px 60px;
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

.header-top-button-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  /* width: 240px; */
}

.header-top-login-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  /* width: 231px; */
  flex-grow: 1;
  gap: 28px;
  flex-wrap: wrap;
}

.header-search {
  display: flex;
  padding: 0;
  margin: 0;
  /* width: 517px */
}

.search-form {
  width: 360px;
  background-color: #ffe17f;
}

.catalog-navigation-wrapper {
  display: flex;
  align-items: stretch;
  padding: 0 60px;
  box-sizing: border-box;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 471px;
  justify-content: space-between;
}

/*Блок с поповером корзины*/

.cart-product-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 320px;
}

.cart-product-item {
  display: flex;
  flex-direction: row;
  width: 320px;
  align-items: center;
  padding: 20px;
}

.cart-row-wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  color: #ffffff;
  background-color: #1a1a1a;
  text-decoration: none;
  align-items: center;
}

.open-cart-wrapper {
  padding: 20px;
}

/*Блок со слайдером*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-card {
  width: 560px;
  padding-top: 120px;
}

.slider-card-characteristics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 26px;
}

.slider-card-characteristics-container {
  display: flex;
  flex-direction: column;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

/*Блок с категориями товаров*/

.product-categories {
  margin-bottom: 70px;
}

.product-categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-categories-item {
  width: 160px;
}

/*Блок с Услугами*/

.services {
  display: flex;
  margin-bottom: 70px;
  gap: 116px;
}

.services-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 287px;
  padding-top: 64px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-icon-placeholder {
  min-width: 136px;
  min-height: 164px;
}

.services-item {
  display: flex;
  align-items: center;
}

/*Блок со специальной доставкой*/

.special-delivery {
  margin-bottom: 70px;
}

.special-delivery-wrapper {
  display: flex;
}

.special-delivery-icon-placeholder {
  display: flex;
  min-width: 125px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}

/*Блоки Информация о компании и О нас*/

.column-section-wrapper {
  display: flex;
  gap: 108px;
  margin-bottom: 70px;
}

.company-info {
  width: 520px;
}

.contacts {
  width: 532px;
}

/*Секция подписки*/

.newsletter {
  background-color: #f0f0f0;
}

.subscription-area {
  display: flex;
  flex-direction: column;
  gap: 144px;
  padding-bottom: 56px;
}

.subscription-row-wrapper {
  display: flex;
  gap: 252px;
  padding-top: 64px;
  padding-left: 7px;
}

.newsletter-field {
  font-family: Rubik, sans-serif;
  padding: 0;
  width: 557px;
  background-color: #f0f0f0;
}

.newsletter-submit-button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 253px;
  padding: 18px 39px;
}

.subscription-row-wrapper-bottom {
  width: 1158px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7px;
  align-items: center;
}

.newsletter-form {
  width: auto;
  display: flex;
  align-items: stretch;
}

.newsletter-call {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
  margin: 0;
}

.description-text-subscription {
  width: 560px;
  background-color: #f0f0f0;
}

.free-sub {
  background-color: #f0f0f0;
}

.contacts-address {
  font-style: normal;
}

.footer-center-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 123px;
  gap: 62px;
  padding-top: 137px;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-address-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 174px;
}

.footer-internal-link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 18px;
  justify-content: center;
  list-style: none;
}

.header-top-button.log-out {
  opacity: 0.3;
}

/*КАТАЛОГ*/

.inner-header {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-bottom: 34px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 36px;
}

.catalog-row-wrapper {
  display: flex;
  flex-direction: row;
}

.catalog-filter {
  width: 320px;
  border: none;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-column-wrapper {
  width: 840px;
}

.product-sorting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.sorting-button-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 50px;
}

.product-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-footer-wrapper {
  display: flex;
}

.logo-link-footer {
  margin-top: 62px;
  display: block;
  margin-bottom: 36px;
}

.slider {
  margin-bottom: 70px;
}

.yellow-background {
  background-color: #ffe17f;
}

.background-gray {
  background-color: #f0f0f0;
}

.catalog-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ebebeb;
  width: 760px;
  margin: 0 auto;
}

.white-background-wrapper {
  background-color: #ffffff;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}

.pagination-item {
  width: 40px;
}

.product-cards-area {
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.header-popup-menu {
  display: flex;
  padding-bottom: 30px;
}

.header-popup-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.header-popup-list:not(:first-child) {
  margin-left: 60px;
}

.product-card-item {
  width: 222px;
}

.special-delivery-modal-window {
  padding: 72px 80px;
  width: 920px;
}

.dialog-row-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.special-delivery-name-container,
.special-delivery-email-container {
  margin: 0;
}

.special-delivery-email-container {
  display: flex;
  flex-direction: column;
}

.special-delivery-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.special-delivery-name-container {
  display: flex;
  flex-direction: column;
}

.special-delivery-product-container {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dialog-amount-wrapper {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.special-delivery-input-wide {
  width: 540px;
  background-color: #f0f0f0;
}

.dialog-submit-button {
  width: 190px;
}

.cart-product-amount {
  display: flex;
}

.header-top-button-item {
  display: flex;
}

.space40x40 {
  min-width: 40px;
  min-height: 40px;
}

.services-column-wrapper {
  width: 452px;
}
